.btn-blue {
	background-color: #a9d2df;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #c8d8dd;
	color: white;